doctype html
html lang="de"
	head
		title Game Test 1
		meta charset="utf-8"
		script type="text/javascript" src="js/phaser2.min.js"
		script type="text/javascript" src="js/game.js"
		link rel="stylesheet" href="css/styles.css"
	body
		div.wrap
			div.content
				h1 Game Test 01
				div#game